coverage==4.5.1
dj-database-url==0.5.0
Django==2.0.6
django-cors-headers==2.3.0
django-extensions==2.0.7
django-import-export==1.0.1
django-test-without-migrations==0.6
gunicorn==19.8.1
psycopg2==2.7.5
python-decouple==3.1
pytz==2018.5
tblib
whitenoise==3.3.1
