Django==1.10
dj-database-url==0.4.1
django-cors-middleware==1.2.0
django-extensions==1.6.7
django-test-without-migrations==0.4
gunicorn==19.6.0
psycopg2==2.6.2
python-decouple==3.0
pytz==2016.6.1
whitenoise==3.2
