{% extends 'core/base.html' %}

{% block content %}

<h2>Muito obrigado</h2>
<p>
  Recebemos tua contribuição e logo mais, se todas as informações baterem,
  ela aparecerá no nosso
  <a href="https://github.com/jlcarvalho/InternetSemLimites">repositório</a>
  e na nossa <a href="{% url 'home' %}">API</a>.
</p>

<dl class="dl-horizontal">

  <dt>Categoria</dt>
  {% if provider.category == 'F' %}
  <dd>Hall of Fame</dd>
  {% else %}
  <dd>Hall of Shame</dd>
  {% endif %}

  <dt>Nome do provedor</dt>
  <dd>{{ provider.name }}</dd>

  <dt>URL do provedor</dt>
  <dd><a href="{{ provider.url }}">{{ provider.url }}</a></dd>

  <dt>URL da fonte da informação</dt>
  <dd><a href="{{ provider.source }}">{{ provider.source }}</a></dd>

  <dt>Cobertura</dt>
  <dd>{{ provider.coverage.all|join:', ' }}</dd>

  <dt>Observações</dt>
  <dd>{{ provider.other }}</dd>

  <dt>Status</dt>
  <dd>
    {{ provider.get_status }}
    {% if provider.status == 'R' %}({{ provider.get_moderation_reason }}){% endif %}
  </dd>

  <dt>Criado em</dt>
  <dd>{{ provider.created_at }}</dd>

</dl>

<p>
  <small>
    Você pode guardar esse endereço e retornar aqui para acompanhar o status da
    sua sugestão de provedor:
    <small><code>{{ request.build_absolute_uri }}</code></small>
  </small>
</p>

{% endblock %}
